*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

.scren{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menubar{
    width: 1200px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: left;
}

.dms{
    font-size: 30px;
    color: white;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.menu{
    width: 614px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu > p{
    color: white;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.login{
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 46px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);
    background-color: #19B6B6;
}

.mainmenu{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tomenu{
    width: 732px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
}

.date{
    width: 732px;
    color: #FFFFFFB3;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
}

.meal{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.morning,.lunch,.dinner{
    width: 219px;
    height: 316px;
    border: 1px solid none;
    background-color: #0c9799;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);
    color: white;
    font-family: 'NanumSquare', sans-serif;
}

.btn > button{
    width: 150px;
    height: 50px;
    margin-right: 2.5rem;
    border: none;
    border-radius: 1.5625rem;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2), 0 5px 6px 0 rgba(0,0,0,0.19);
    font-size: 1.125rem;
    color: #19b6b6;
    font-family: 'NanumSquare', sans-serif;
}
